html{
    background-color: darkgray;
}
body, h1{
    margin: 0;
    padding: 0;
}
#container
{
    height: 256px;
    width: 256px;
    background-image:url("../sprites/background_garden.png");
    
    background-repeat: repeat-x;
}
#workarea{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    height:156px;
}
#desc{
    display:absolute;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    margin:0px;
    height: fit-content;
}
#desc p{
    margin:0px;
    height: fit-content;
}