
body, h1{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
}
#container
{
    height: 256px;
    width: 256px;
    background-image:url("../sprites/background.png");
    
}
#workarea{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}
#workarea div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    font-size:16px;
}
img{
    margin-left: auto;
    margin-right: auto;

}
#input{
    justify-content: center;
}
input{
    width:30%;
}
#death{

    display:absolute;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    margin:0px;
    height: fit-content;
    
}
#death p{
    margin:5px;
}