/* COLOR PALETTE*/
:root{
--color1 : #95C473;
--color2: #053225;
--color3: #ADA8B6;
--color4: #23022E;
--color5: 0081A7
}
body, h1{
    margin: 0;
    padding: 0;
}
#container
{
    height: 256px;
    width: 256px;
    background-image:url("../sprites/background.png");
}
#list
{
    height: 128px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 3%;
}