
body, h1{
    margin: 0;
    padding: 0;
}
#container
{
    height: 256px;
    width: 256px;
    background-image:url("../sprites/background.png");
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
}
header{
    text-align: center;
}
#list
{
    height: 128px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 3%;
}
#input{
    text-align: center;
}
li:hover{
    text-decoration: line-through;
    color:red;
}
button{
    background-color: rgb(238, 238, 238);
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    overflow: visible;
    padding:4px;
}
button:hover{
    background-color: rgb(194, 194, 194);
}
